@import url(../global.css);
/**
 * Default style sheet
 */

/** ELEMENTS */
body {
	background-color: #FFFFFF;
	margin:	4px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	padding: 0px;
	/* font-size: smaller; /*0.8em;*/ 
	font-size: 0.8rem;
}
body.browser {
	background-color: #efefef;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	/* font-size: smaller; /*1em;*/
	/* font-size: 0.7rem; */
	border-right: 1px dashed #c0c0c0;
}
body.bottombar {
	background-color: #CECF9C;
	margin:	0px;
	padding: 0px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	/* font-size: smaller; /*1em;*/
	text-align: left;
}
h2 {
	color: #666633;
	font-size: medium; /*1.3em;*/
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	border: 2px solid #E6E6CC;
	background-color: #F3F3E9;
	padding: 2px 1em;
	margin: 0 0 1ex 0;
}
h3 {
	color: #666633;
	font-size: 1.5em;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
}
table.error {background-color: #E6E6CC}
table.error td {background-color: #E6E6CC}
table.navbar {background-color: #E6E6CC}
table.navbar td {
	height:	25px;
	color: #000000;
	background-color: #F3F3E9;
	text-align: center;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /* 0.9em */
	font-weight: bold;
}
table.navbar td.active {background-color: #E6E6CC}
th.data {
	color: #000000;
	background-color: #E6E6CC;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /* 0.9em */
}
th.data a:active, th.data a:link, th.data a:visited, th.data a:hover {
	font-weight: bold;
}
td.dat {
	color: #ff0;
	text-align: center;
}
th.required {text-decoration: underline}
td.topbar {
	background-color: #CECF9C;
	margin:	0px	0px;
	padding: 0px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /*0.8em;*/
	text-align: left;
}

/*table with data */

table.datatable {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  background: #eaebec;
  border: #ccc 1px solid;
}

table.datatable th  {
  /* padding: 10px 35px; */
  padding: 1%;
  border-left: 1px solid #e4dede;
  border-bottom: 1px solid #e2d8d8;
  background: #524c4c;
  text-align: center;
  color: #ece8e8;
  /* font-size: 0.8rem; */
}

table.datatable th:first-child{  
  border-left:none;  
}

table.datatable tr {
  text-align: left;
  padding-left: 20px;
}

.datatable > tbody:nth-child(1) > tr:nth-child(odd) { background-color: #CECF9C; }
.datatable > tbody:nth-child(1) > tr:nth-child(1) > th:nth-child(3){min-width: 129px;}

table.datatable td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}

table.datatable td {
  /* padding: 10px 25px; */
  padding:1%;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  /* background: #fbf5f5 background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fbf5f5)); */
  /* background: -moz-linear-gradient(top, #fbfbfb, #fbf5f5); */
}

table.datatable tr:last-child td {
  border-bottom: 0;
}

table.datatable tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

table.datatable tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

table.datatable tr:hover td {
  background: #f3efef;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f3f3), to(#f9f5f5));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

/*table with data end*/

a.sortheader:active, a.sortheader:link, a.sortheader:visited,a.sortheader:hover  {
  color: #ece8e8;
}



ul.toplink,ul.navlink {
	list-style: none;
	margin:0;padding:0;
}
ul.navlink{margin:20px 0}
ul.toplink li, ul.navlink li {
	display:inline;
	border-left:1px solid #000000;
	margin:0;padding: 0 2px 0 5px;
}
ul.toplink li:first-child, ul.navlink li:first-child {
	border: none;
	padding-left:0;
}
tr.data1, tr.data2, tr.data3 {
	color: #000000;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	/* font-size: smaller; /*0.8em;*/
}
tr.data1:hover, tr.data2:hover, tr.data3:hover {
	background-color: #DDD;
}
.row1, .data1 {
	background-color: #F3F3E9;
	text-align: left;
}
.row2, .data2 {
	background-color: #E6E6CC;
	text-align: left;
}
.row3, .data3 {background-color: #F3F3E9}
td.opbutton1 {
	color: #000000;
	border-top:	1px solid #FFFFFF;
	border-right: 1px solid	#706D41;
	border-bottom: 1px solid #706D41;
	border-left: 1px solid #FFFFFF;
	cursor:	pointer;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	/* font-size: smaller; /*0.8em;*/
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
}
td.opbutton2 {
	color: #000000;
	border-top:	1px solid #FFFFFF;
	border-right: 1px solid	#706D41;
	border-bottom: 1px solid #706D41;
	border-left: 1px solid #FFFFFF;
	cursor:	pointer;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	/* font-size: smaller; /*0.8em;*/
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
}
.topbar {border: 2px solid #CECF9C}
.topbar, .topbar * {
	background-color: #CECF9C;
}
.topbar .platform, .topbar .host, .topbar .username {
	font-weight: bold;
}
.topbar, .trail {
	margin-bottom: 2px;
}
.topbar, .trail, .tab {
	padding: 2px 1ex;
	/* font-size: smaller; */
}
.trail, .tab {
	border: 2px solid #E6E6CC;
	background-color: #F3F3E9;
}
.trail .crumb {background-color: #F3F3E9}
.crumb, .tab {
	vertical-align: top;
}
.crumb .icon {
	vertical-align: middle;
	margin: 0 2px;
}
table.tabs {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1ex;
}
.tab {text-align: center}
.tabs .active {background-color: #E6E6CC}
.tab .icon {display: block}
a:active {
	color: #989973;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: normal;
	text-decoration: underline;
}
a,a:link {
	color: #336699;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
}
a:visited {
	color: #336699;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
}
a:hover {
	color: #cc0000;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
	border:1px;
}
a.navlink:link, a.toplink:link, ul.navlink li a, ul.toplink li a {
	color: #336699;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	text-decoration: none;
}
a.navlink:visited, a.toplink:visited, ul.navlink li a:visited, ul.toplink li a:visited {
	color: #336699;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	text-decoration: none;
}
a.navlink:hover, a.toplink:hover, ul.navlink li a:hover, ul.toplink li a:hover {
	color: #cc0000;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	text-decoration: none;
}
a.navlink:active, a.toplink:active, ul.navlink li a:active, ul.toplink li a:active {
	color: #cc0000;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	text-decoration: none;
}
.active a {font-weight: bold}
a.help {
	color: #E68800;
	/* font-size: smaller; */
	vertical-align: super;
	text-decoration: none;
}
pre {font-size: 110%}
pre.data {
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: 100%;
}
pre.error {
	font-family: "Lucida Console", "Courier New", "DejaVu Sans Mono", monospace;
	font-size: 120%;
}
.intro li {font-weight: bold}
.ac_field {border:1px solid #D9D95F}
.bottom_link {
	background: #eee;
	border-top: 1px dotted #999;
	border-left: 1px dotted #999;
	/* font-size: smaller; */
}

/** FK browsing **/
div#root > div.fk {
	border: 1px solid #000;
}
div.fk {
    background: #fff;
	border-left: 1px solid #000;
	padding: 5px;
}
div.logo {
	background-color: #CECF9C;
	margin:	0px;
	padding: 0px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	/* font-size: smaller; /* 1em; */
	border: none;
	border-bottom: 2px solid #000000;
	margin-bottom: 2px;
	background-image: url('../../img/themes/default/title.png');
	background-repeat: no-repeat;
	height: 50px;
}
div.logo a {
	display: block;
	height: 100%;
	color: transparent;
}


.preloader {
	/*фиксированное позиционирование*/
	position: fixed;
	/* координаты положения */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/* фоновый цвет элемента */
	background: #e0e0e0;
	/* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
	z-index: 1001;
  }
  
  .preloader__row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
	position: absolute;
	display: inline-block;
	top: 0;
	background-color: #337ab7;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
	top: auto;
	bottom: 0;
	animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes preloader-bounce {
  
	0%,
	100% {
	  transform: scale(0);
	}
  
	50% {
	  transform: scale(1);
	}
  }
  
  .loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
  }
  
  .loaded .preloader {
	display: none;
  }
  
  
  .text {
	cursor: pointer;
	font-size: 2rem;
	margin-left: 10px;
	font-family: 'Righteous', cursive;
	color: #fff;
	font-weight: 300;
  }
  
  .toggle-button {
	position: relative;
	
	width: 50px;
	height: 25px;
	margin: 0;
  
	vertical-align: top;
  
	background: #ffffff;
	border: 1px solid #bbc1e1;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
  
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	  
	transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  
  .toggle-button::after {
	content: "";
	
	position: absolute;
	left: 3px;
	top: 1.5px;
	
	width: 19px;
	height: 19px;
	background-color: blue;
	border-radius: 50%;
	
	transform: translateX(0);
	
	transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  
  .toggle-button:checked::after {
	transform: translateX(calc(100% + 3px));
	background-color: #fff;  
  }
  
  .toggle-button:checked {
	background-color: blue;
  }