@import url(../global.css);
/**
 * Default style sheet
 */

/** ELEMENTS */
body {
	background-color: #FFFFFF;
	margin:	4px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	padding: 0px;
	font-size: smaller; /*0.8em;*/
}
body.browser {
	background-color: #efefef;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /*1em;*/
	border-right: 1px dashed #c0c0c0;
}
body.bottombar {
	background-color: #CECF9C;
	margin:	0px;
	padding: 0px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /*1em;*/
	text-align: left;
}
h2 {
	color: #666633;
	font-size: medium; /*1.3em;*/
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	border: 2px solid #E6E6CC;
	background-color: #F3F3E9;
	padding: 2px 1em;
	margin: 0 0 1ex 0;
}
h3 {
	color: #666633;
	font-size: 1.5em;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
}
table.error {background-color: #E6E6CC}
table.error td {background-color: #E6E6CC}
table.navbar {background-color: #E6E6CC}
table.navbar td {
	height:	25px;
	color: #000000;
	background-color: #F3F3E9;
	text-align: center;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /* 0.9em */
	font-weight: bold;
}
table.navbar td.active {background-color: #E6E6CC}
th.data {
	color: #000000;
	background-color: #E6E6CC;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /* 0.9em */
}
th.data a:active, th.data a:link, th.data a:visited, th.data a:hover {
	font-weight: bold;
}
td.dat {
	color: #ff0;
	text-align: center;
}
th.required {text-decoration: underline}
td.topbar {
	background-color: #CECF9C;
	margin:	0px	0px;
	padding: 0px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /*0.8em;*/
	text-align: left;
}

/*table with data */

table.datatable {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  background: #eaebec;
  border: #ccc 1px solid;
}

table.datatable th  {
  padding: 10px 35px;
  border-left: 1px solid #e4dede;
  border-bottom: 1px solid #e2d8d8;
  background: #524c4c;
  text-align: center;
  color: #ece8e8;
}

table.datatable th:first-child{  
  border-left:none;  
}

table.datatable tr {
  text-align: left;
  padding-left: 20px;
}

table.datatable td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}

table.datatable tr:nth-child(even){
background-color:#FFF;
}
    
table.datatable tr:nth-child(odd){
background-color:#dedede;
}

table.datatable tr.sortbottom{
background-color:#FFF;
}

table.datatable td {
  padding: 15px 35px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

table.datatable tr:last-child td {
  border-bottom: 0;
}

table.datatable tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

table.datatable tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}



/*table with data end*/

a.sortheader:active, a.sortheader:link, a.sortheader:visited,a.sortheader:hover  {
  color: #ece8e8;
}



a:active {
	color: #989973;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: normal;
	text-decoration: underline;
}
a,a:link {
	color: #336699;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
}
a:visited {
	color: #336699;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
}
a:hover {
	color: #cc0000;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
}

.active a {font-weight: bold}
a.help {
	color: #E68800;
	font-size: smaller;
	vertical-align: super;
	text-decoration: none;
}

div.logo {
	background-color: #CECF9C;
	margin:	0px;
	padding: 0px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /* 1em; */
	border: none;
	border-bottom: 2px solid #000000;
	margin-bottom: 2px;
	background-image: url('../../img/themes/default/title.png');
	background-repeat: no-repeat;
	height: 50px;
}
div.logo a {
	display: block;
	height: 100%;
	color: transparent;
}


.result_area
{
    /*margin-top: 20px;*/
    position: relative;
    border-bottom: 1px solid #dae0e6;
    margin-bottom: 120px;
}

.result_area .line
{
    min-height: 30px;
    clear: both;
    border-bottom: 1px solid #f3f3f3;
   display: flex;
  flex-direction: column;
}

.result_area .line1 .head
{
	min-height: 30px;
    background: #524c4c;
    color: #ece8e8;
    font-family: Arial, Helvetica, sans-serif;
 
}

.row:nth-of-type(odd) {
background:#FFF;
}
    
.row:nth-of-type(even) {
background:#dedede;
}


.result_area .line .num
{
    float: left;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 7px;
    width: 55px;
     
    margin-right: 7px;
}

.result_area .line .col1
{
    float: left;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 7px;
    width: 270px;
     
    margin-right: 7px;
}

.result_area .line .col2
{
    float: left;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 7px;
    width: 150px;
     
    margin-right: 7px;
}

.result_area .line .col3
{
    float: left;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 7px;
    width: 170px;
     
    margin-right: 7px;
}

.result_area .line .col4
{
    float: left;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 7px;
    width: 170px;
     
    margin-right: 7px;
}

.result_area .line .col5
{
    float: left;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 7px;
    width: 150px;
     
    margin-right: 7px;
}



.result_area .line .name
{
    float: left;
    font-size: 16px;
    font-weight: 300;
    padding: 17px 0;
    width: 308px;
    margin-right: 7px;
}

.cleaner
{
    clear: both;
    height: 1px;
    font-size: 1px;
}


body {
  margin: 0;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
	transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
	transform: scale(0);
  }

  50% {
	transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}


.text {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 10px;
  font-family: 'Righteous', cursive;
  color: #fff;
  font-weight: 300;
}

.toggle-button {
  position: relative;
  
  width: 50px;
  height: 25px;
  margin: 0;

  vertical-align: top;

  background: #ffffff;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
    
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
  content: "";
  
  position: absolute;
  left: 3px;
  top: 1.5px;
  
  width: 19px;
  height: 19px;
  background-color: blue;
  border-radius: 50%;
  
  transform: translateX(0);
  
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: #fff;  
}

.toggle-button:checked {
  background-color: blue;
}